In [480]:
## Library imports + importing dataset

In [481]:
import pandas as pd
df = pd.read_csv("IMDb_Dataset_Edited.csv")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Sample of dataset

In [482]:
df.sample(3)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,production_companies,production_countries,spoken_languages,keywords,release_year,Director,AverageRating,Poster_Link,Certificate,IMDB_Rating,Meta_score,Star1,Star2,Star3,Star4,Writer,Director_of_Photography,Producers,Music_Composer,genres_list,Cast_list,overview_sentiment,all_combined_keywords
84343,999050,Alvin Williams: Itâ€™s Gonna Get Better,0.0,0,Released,13/11/2020,0,63,False,0,tt13438182,en,Alvin Williams: Itâ€™s Gonna Get Better,Williams leaves no socially awkward stone untu...,0.6,NaN,NaN,NaN,English,['stand-up comedy'],2020,Josh Oreck,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['Comedy'],"['Basil Iwanyk', 'Erica Lee', 'Common', 'Heidi...",-0.030357,"['stone', 'night', 'awkward', 'option', 'cold'..."
48546,1226415,Lesbian House Hunters 22,0.0,0,Released,28/6/2023,0,206,True,0,NaN,en,Lesbian House Hunters 22,Lesbians go on the prowl for a new place to st...,0.0,NaN,Girlfriends Films,NaN,NaN,[],2023,BÃ¡lint Kenyeres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['Unknown'],['SzÅ‘ke AndrÃ¡s'],-0.009943,"['new', 'prowl', 'instead', 'going', 'end', 'p..."
65312,1046461,EVA,0.0,0,Released,30/10/2022,0,7,False,0,NaN,en,EVA,Eva Eisler is an important Czech designer and ...,0.6,NaN,NaN,NaN,NaN,[],2022,Marcel Walz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marcel Walz,NaN,Thomas Buresch,NaN,['Documentary'],"['Stephanie Voit', 'Martin Semmelrogge', 'Vita...",0.225000,"['metallic', 'building', 'ideas', 'elegance', ..."

# Dataset info with df.info()

In [483]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89538 entries, 0 to 89537
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       89538 non-null  int64
 1   title                    89538 non-null  object
 2   vote_average             89538 non-null  float64
 3   vote_count               89538 non-null  int64
 4   status                   89538 non-null  object
 5   release_date             89538 non-null  object
 6   revenue                  89538 non-null  int64
 7   runtime                  89538 non-null  int64
 8   adult                    89538 non-null  bool
 9   budget                   89538 non-null  int64
 10  imdb_id                  40169 non-null  object
 11  original_language        89538 non-null  object
 12  original_title           89538 non-null  object
 13  overview                 85545 non-null  object
 14  popularity               89538 non-null  float64
 15  tagline                  21199 non-null  object
 16  production_companies     39255 non-null  object
 17  production_countries     43045 non-null  object
 18  spoken_languages         45698 non-null  object
 19  keywords                 89538 non-null  object
 20  release_year             89538 non-null  int64
 21  Director                 89538 non-null  object
 22  AverageRating            1118 non-null   float64
 23  Poster_Link              174 non-null    object
 24  Certificate              2566 non-null   object
 25  IMDB_Rating              2596 non-null   float64
 26  Meta_score               145 non-null    float64
 27  Star1                    2596 non-null   object
 28  Star2                    174 non-null    object
 29  Star3                    174 non-null    object
 30  Star4                    174 non-null    object
 31  Writer                   53758 non-null  object
 32  Director_of_Photography  27886 non-null  object
 33  Producers                35010 non-null  object
 34  Music_Composer           12716 non-null  object
 35  genres_list              89538 non-null  object
 36  Cast_list                89538 non-null  object
 37  overview_sentiment       89538 non-null  float64
 38  all_combined_keywords    89538 non-null  object
dtypes: bool(1), float64(6), int64(6), object(26)
memory usage: 26.0+ MB

In [484]:
# Dropping all columns with significant (>50%) amount of null values (with the exception of IMDB rating)
df.drop(columns=["imdb_id","tagline","production_companies","production_countries","spoken_languages","AverageRating","Poster_Link","Certificate","Meta_score","Star1","Star2","Star3","Star4","Director_of_Photography","Producers","Music_Composer"], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89538 entries, 0 to 89537
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     89538 non-null  int64
 1   title                  89538 non-null  object
 2   vote_average           89538 non-null  float64
 3   vote_count             89538 non-null  int64
 4   status                 89538 non-null  object
 5   release_date           89538 non-null  object
 6   revenue                89538 non-null  int64
 7   runtime                89538 non-null  int64
 8   adult                  89538 non-null  bool
 9   budget                 89538 non-null  int64
 10  original_language      89538 non-null  object
 11  original_title         89538 non-null  object
 12  overview               85545 non-null  object
 13  popularity             89538 non-null  float64
 14  keywords               89538 non-null  object
 15  release_year           89538 non-null  int64
 16  Director               89538 non-null  object
 17  IMDB_Rating            2596 non-null   float64
 18  Writer                 53758 non-null  object
 19  genres_list            89538 non-null  object
 20  Cast_list              89538 non-null  object
 21  overview_sentiment     89538 non-null  float64
 22  all_combined_keywords  89538 non-null  object
dtypes: bool(1), float64(4), int64(6), object(12)
memory usage: 15.1+ MB

In [485]:
df["IMDB_Rating"].fillna(-1, inplace=True) # fill missing rating valeus with 0
df.fillna("Missing",inplace=True) # Filling all remaining null values with "Missing"
df.info()

C:\Users\User\AppData\Local\Temp\ipykernel_7352\2114514150.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["IMDB_Rating"].fillna(-1, inplace=True) # fill missing rating valeus with 0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89538 entries, 0 to 89537
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     89538 non-null  int64
 1   title                  89538 non-null  object
 2   vote_average           89538 non-null  float64
 3   vote_count             89538 non-null  int64
 4   status                 89538 non-null  object
 5   release_date           89538 non-null  object
 6   revenue                89538 non-null  int64
 7   runtime                89538 non-null  int64
 8   adult                  89538 non-null  bool
 9   budget                 89538 non-null  int64
 10  original_language      89538 non-null  object
 11  original_title         89538 non-null  object
 12  overview               89538 non-null  object
 13  popularity             89538 non-null  float64
 14  keywords               89538 non-null  object
 15  release_year           89538 non-null  int64
 16  Director               89538 non-null  object
 17  IMDB_Rating            89538 non-null  float64
 18  Writer                 89538 non-null  object
 19  genres_list            89538 non-null  object
 20  Cast_list              89538 non-null  object
 21  overview_sentiment     89538 non-null  float64
 22  all_combined_keywords  89538 non-null  object
dtypes: bool(1), float64(4), int64(6), object(12)
memory usage: 15.1+ MB

In [486]:
df.nunique() # Counting the number of unique values per column

id                       89507
title                    83435
vote_average              2149
vote_count                1041
status                       6
release_date              1826
revenue                   1045
runtime                    429
adult                        2
budget                    1204
original_language            1
original_title           83718
overview                 84208
popularity                7308
keywords                 17012
release_year                 5
Director                 46291
IMDB_Rating                 60
Writer                   39150
genres_list               3138
Cast_list                52126
overview_sentiment       11020
all_combined_keywords    84491
dtype: int64

In [487]:
df.drop_duplicates(inplace=True) # dropping duplicates while considering all columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89537 entries, 0 to 89537
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     89537 non-null  int64
 1   title                  89537 non-null  object
 2   vote_average           89537 non-null  float64
 3   vote_count             89537 non-null  int64
 4   status                 89537 non-null  object
 5   release_date           89537 non-null  object
 6   revenue                89537 non-null  int64
 7   runtime                89537 non-null  int64
 8   adult                  89537 non-null  bool
 9   budget                 89537 non-null  int64
 10  original_language      89537 non-null  object
 11  original_title         89537 non-null  object
 12  overview               89537 non-null  object
 13  popularity             89537 non-null  float64
 14  keywords               89537 non-null  object
 15  release_year           89537 non-null  int64
 16  Director               89537 non-null  object
 17  IMDB_Rating            89537 non-null  float64
 18  Writer                 89537 non-null  object
 19  genres_list            89537 non-null  object
 20  Cast_list              89537 non-null  object
 21  overview_sentiment     89537 non-null  float64
 22  all_combined_keywords  89537 non-null  object
dtypes: bool(1), float64(4), int64(6), object(12)
memory usage: 15.8+ MB

In [488]:
# Examining the values found under status and original language
df.value_counts(["status","original_language"])

status           original_language
Released         en                   88545
In Production    en                     578
Post Production  en                     334
Planned          en                      77
Rumored          en                       2
Canceled         en                       1
Name: count, dtype: int64

In [489]:
# Counting number of rows with 0 values for each numerical column
print("Number of entries with vote_average = 0 is ", df[df['vote_average'] == 0]['title'].count())
print("Number of entries with vote_count = 0 is ",  df[df['vote_count'] == 0]['title'].count())
print("Number of entries with revenue = 0 is ", df[df['revenue'] == 0]['title'].count())
print("Number of entries with runtime = 0 is ", df[df['runtime'] == 0]['title'].count())
print("Number of entries with budget = 0 is ", df[df['budget'] == 0]['title'].count())
print("Number of entries with popularity = 0 is ", df[df['popularity'] == 0]['title'].count())

Number of entries with vote_average = 0 is  65299
Number of entries with vote_count = 0 is  65287
Number of entries with revenue = 0 is  87878
Number of entries with runtime = 0 is  11120
Number of entries with budget = 0 is  79745
Number of entries with popularity = 0 is  6606

In [490]:
df.drop(columns=["vote_average","vote_count","revenue","budget", "keywords","overview_sentiment", "original_title", "all_combined_keywords"], inplace=True) # dropping numerical columns with significant amount of 0 values + keywords, overview_sentiment, original_title because it is unnecessary for this assignment
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89537 entries, 0 to 89537
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 89537 non-null  int64
 1   title              89537 non-null  object
 2   status             89537 non-null  object
 3   release_date       89537 non-null  object
 4   runtime            89537 non-null  int64
 5   adult              89537 non-null  bool
 6   original_language  89537 non-null  object
 7   overview           89537 non-null  object
 8   popularity         89537 non-null  float64
 9   release_year       89537 non-null  int64
 10  Director           89537 non-null  object
 11  IMDB_Rating        89537 non-null  float64
 12  Writer             89537 non-null  object
 13  genres_list        89537 non-null  object
 14  Cast_list          89537 non-null  object
dtypes: bool(1), float64(2), int64(3), object(9)
memory usage: 10.3+ MB

In [491]:
import ast

# Convert string to list with , delimiter
df['Director'] = df['Director'].apply(lambda x: x.split(', '))
df['Writer'] = df['Writer'].apply(lambda x: x.split(', '))

# Convert string representation of lists to actual lists
df['genres_list'] = df['genres_list'].apply(lambda x: ast.literal_eval(x))
df['Cast_list'] = df['Cast_list'].apply(lambda x: ast.literal_eval(x))

In [492]:
# seperating unique genres, actors, directors, writers

director = pd.DataFrame(df['Director'].explode().unique(), columns=["Director"])
writer = pd.DataFrame(df['Writer'].explode().unique(), columns=["Writer"])
genres = pd.DataFrame(df['genres_list'].explode().unique(), columns=["Genre"])
actors = pd.DataFrame(df['Cast_list'].explode().unique(), columns=["Actor Name"])

In [493]:
# explode the columns with lists, for easier time when converting to SQL database later

MovieDirector = df[["id","Director"]].explode("Director")
MovieWriter = df[["id","Writer"]].explode("Writer")
MovieGenre = df[["id","genres_list"]].explode("genres_list")
MovieActor = df[["id","Cast_list"]].explode("Cast_list")

In [494]:
# # Exporting processed dataset with all columns intact
# df.to_csv("Processed Dataset.csv", index = False)

# # exporting 
# director.to_csv("Director.csv", index=False)
# writer.to_csv("Writer.csv", index=False)
# genres.to_csv("Genre.csv", index=False)
# actors.to_csv("Actor.csv", index=False)

# MovieDirector.to_csv("MovieDirector.csv", index=False)
# MovieWriter.to_csv("MovieWriter.csv", index=False)
# MovieGenre.to_csv("MovieGenre.csv", index=False)
# MovieActor.to_csv("MovieActor.csv", index=False)

In [495]:
# function for adding new index col for actor, director, genre, writer, reordering id col to left
def new_index(df, id_col):
    df[id_col] = range(1, len(df) + 1)  # Add unique ID column
    return df.iloc[:,[1,0]]

actors = new_index(actors, 'actor_id')
director = new_index(director, 'director_id')
genres = new_index(genres, 'genre_id')
writer = new_index(writer, 'writer_id')

In [496]:
df.sample(5)

# making new id one, reordering cols
# df.drop(columns=["id"], inplace=True)
df["movie_id"] = range(1, len(df) + 1)
df = df.iloc[:,[0,15,1,2,3,4,5,6,7,8,9]]

df.head()

,id,movie_id,title,status,release_date,runtime,adult,original_language,overview,popularity,release_year
0,1245912,1,Signs of Insanity,Canceled,14/7/2019,0,False,en,Guy kidnaps the protagonist and his sanity dec...,0.760,2019
1,1184069,2,Zainab Johnson: Hijabs Off,In Production,24/10/2023,0,False,en,Zainab Johnson is a gifted and daring comedian...,3.222,2023
2,1178713,3,You Should Have Been Here Yesterday,In Production,22/10/2023,100,False,en,You Should Have Been Here Yesterday combines h...,1.534,2023
3,1156702,4,You Are My Audience,In Production,24/10/2023,110,False,en,You Are My Audience features stories from arou...,2.216,2023
4,1181421,5,X Trillion,In Production,12/10/2023,70,False,en,"14 WOMEN, 3000 MILES, X TRILLION PIECES OF PLA...",2.973,2023

In [497]:
director.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50421 entries, 0 to 50420
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   director_id  50421 non-null  int64
 1   Director     50421 non-null  object
dtypes: int64(1), object(1)
memory usage: 788.0+ KB

In [498]:
# function for properly merging t
def match_indexes(movie_df, compound_df, other_df, other_id, other_name):
    movie_df = movie_df.iloc[:,[0,1,2]]
    compound_df = compound_df.iloc[:,[0,1]]

    # merge on (old) id, id found in the compound df
    first_merge = pd.merge(movie_df, compound_df, left_on=movie_df.columns[0], right_on=compound_df.columns[0], how='left')

    # merge on the name of subject in other_df, and name in the firstmerge
    second_merge = pd.merge(first_merge, other_df, left_on=first_merge.columns[3], right_on=other_df.columns[1], how='left')
    #print(second_merge.columns)
    # reordering and renaming cols
    second_merge = second_merge.iloc[:,[1,4,2,3]]
    second_merge.columns = ["movie_id", other_id, "title", other_name]
    return second_merge


MovieActor = match_indexes(df, MovieActor, actors, actors.columns[0], actors.columns[1])
MovieDirector = match_indexes(df, MovieDirector, director, director.columns[0], director.columns[1])
MovieGenre = match_indexes(df, MovieGenre, genres, genres.columns[0], genres.columns[1])
MovieWriter = match_indexes(df, MovieWriter, writer, writer.columns[0], writer.columns[1])

df = df.iloc[:,[1,2,3,4,5,6,7,8,9,10]]

In [503]:
import re
# Function to remove invisible Unicode characters
def remove_non_ascii(text):
    if isinstance(text, str):
        return re.sub(r'[^\x00-\x7F]', ' ', text)
    else:
        return text

# Remove invisible characters from all cell values
df = df.map(remove_non_ascii)
actors = actors.map(remove_non_ascii)
director = director.map(remove_non_ascii)
writer = writer.map(remove_non_ascii)
genres = genres.map(remove_non_ascii)

MovieActor = MovieActor.map(remove_non_ascii)
MovieDirector = MovieDirector.map(remove_non_ascii)
MovieWriter = MovieWriter.map(remove_non_ascii)
MovieGenre = MovieGenre.map(remove_non_ascii)

In [504]:
# exporting 
director.to_csv("Director.csv", index=False)
writer.to_csv("Writer.csv", index=False)
genres.to_csv("Genre.csv", index=False)
actors.to_csv("Actor.csv", index=False)

MovieDirector.to_csv("MovieDirector.csv", index=False)
MovieWriter.to_csv("MovieWriter.csv", index=False)
MovieGenre.to_csv("MovieGenre.csv", index=False)
MovieActor.to_csv("MovieActor.csv", index=False)

In [ ]:
import sqlalchemy
# Replace these with your MySQL database credentials
username = 'root'
password = ''
host = 'localhost'
database = 'IMDB_MovieDB'

# Create a MySQL connection engine using SQLAlchemy
engine = sqlalchemy.create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}/{database}")

df.to_sql('movie', con=engine, if_exists='replace', index=False)
actors.to_sql('actor', con=engine, if_exists='replace', index=False)
director.to_sql('director', con=engine, if_exists='replace', index=False)
genres.to_sql('genre', con=engine, if_exists='replace', index=False)
writer.to_sql('writer', con=engine, if_exists='replace', index=False)

MovieActor.to_sql('movieactor', con=engine, if_exists='replace', index=False)
MovieDirector.to_sql('moviedirector', con=engine, if_exists='replace', index=False)
MovieGenre.to_sql('moviegenre', con=engine, if_exists='replace', index=False)
MovieWriter.to_sql('moviewriter', con=engine, if_exists='replace', index=False)

with engine.connect() as sql_con:
    # PKs
    sql_con.execute("ALTER TABLE Movie ADD PRIMARY KEY (movie_id);")
    sql_con.execute("ALTER TABLE Actor ADD PRIMARY KEY (actor_id);")
    sql_con.execute("ALTER TABLE Director ADD PRIMARY KEY (director_id);")
    sql_con.execute("ALTER TABLE Genre ADD PRIMARY KEY (genre_id);")
    sql_con.execute("ALTER TABLE Writer ADD PRIMARY KEY (writer_id);")

    # CKs
    sql_con.execute("ALTER TABLE MovieActor ADD PRIMARY KEY (movie_id, actor_id);")
    sql_con.execute("ALTER TABLE MovieDirector ADD PRIMARY KEY (movie_id, director_id);")
    sql_con.execute("ALTER TABLE MovieGenre ADD PRIMARY KEY (movie_id, genre_id);")
    sql_con.execute("ALTER TABLE MovieWriter ADD PRIMARY KEY (movie_id, writer_id);")

print("Primary and composite keys added successfully.")

ObjectNotExecutableError: Not an executable object: 'ALTER TABLE Movie ADD PRIMARY KEY (movie_id);'